body{
    overflow: hidden;
}
.bg-siang{
    background: url(../img/backgroun-siang.png);
    background-size: cover;
}

.bg-malem{
    background: url(../img/background.jpeg);
}
.text-white{
    color: #fff;
}
.roket{
    position: absolute;
    bottom: -80px;
    right: 30px;
}
