@font-face {
    font-family: JandaManatee;
    src: url(../fonts/JandaManateeSolid.ttf);
}

body{
    overflow: hidden;
}

.text-white{
    color: #fff;
}
.font-janda{
    font-family: JandaManatee;
}
.bg-siang{
    background: url(../img/backgroun-siang.png);
    background-size: cover;
}

.bg-malem{
    background: url(../img/background.jpeg);
}
.text-white{
    color: #fff;
}
.roket{
    position: absolute;
    bottom: -80px;
    right: 30px;
}

.content{
    margin-top:-200px;
}

.title{
    margin-top: 100px;
}
 .title input{
     border: 3px solid #555;
     font-size: 1em;
     height: auto;
 }
